<div class="container">
  <h1 class="animated jackInTheBox">{{ title }}</h1>
  <div id="modal" class="animated flipInX" *ngIf="mode === 'add'">
    <h2 class="text-center">Nova Tarefa</h2>
    <form
      [formGroup]="form"
    >
      <div class="form-group">
        <input
          type="text"
          name="todo"
          placeholder="Adicionar tarefa..."
          minlength="3"
          maxlength="60"
          formControlName="title"
        >
        <p
          class="danger"
          *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine"
        >
          Informe um título: 3 a 60 caracteres
        </p>
      </div>
      <button
        type="submit"
        class="btn"
        [disabled]="form.invalid"
        (click)="add()"
      >
        <i class="far fa-save"></i>
        Salvar
      </button>
    </form>
  </div>
  <div id="todos" class="animated flipInX" *ngIf="mode === 'list'">
    <p *ngIf="!todos.length else todos_list" class="text-center">Você não possui tarefas!</p>
    <ng-template #todos_list>
      <ul>
        <li *ngFor="let todo of todos">
          <p
            [ngClass]="{ 'done': todo.done }"
            (click)="markAsDone(todo)"
          >
            {{ todo.title }}
          </p>
          <div class="actions">
            <button
              type="button"
              (click)="markAsDone(todo)"
            >
              <i [ngClass]="todo.done ? 'fas fa-2x fa-check-circle' : 'far fa-2x fa-check-circle'"></i>
            </button>
            <button
              type="button"
              (click)="remove(todo)"
            >
              <i class="far fa-2x fa-trash-alt"></i>
            </button>
          </div>
        </li>
      </ul>
    </ng-template>
  </div>
  <button
    class="add-button btn animated fadeInUp"
    *ngIf="mode === 'list'"
    (click)="changeMode('add')"
  >
    <i class="fas fa-plus-circle"></i>
    Nova Tarefa
  </button>
  <button
    class="add-button btn animated fadeInUp"
    *ngIf="mode === 'add'"
    (click)="changeMode('list')"
  >
    <i class="fas fa-times"></i>
    Cancelar
  </button>
</div>
