.container {
  max-width: 40rem;
  margin: 0 auto;
}

.container h1 {
  margin-bottom: 1rem;
  text-align: center;
  color: #202020;
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  color: #fff;
  text-shadow: 3px 5px #000;
}

.container ul li {
  font-size: 1.125rem;
  display: flex;
  justify-content: space-between;
  color: #404040;
  font-style: italic;
}

.actions {
  display: flex;
  align-items: center;
}

.container ul li + li {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 2px solid rgba(0, 0, 0, 0.39);
}

.container ul li p {
  cursor: pointer;
}

.container ul li button {
  opacity: 0.6;
  transition: opacity .4s;
  border: none;
  background-color: #fff;
}

.container ul li button:hover {
  opacity: 1;
}

.container ul li button + button {
  margin-left: 0.5rem;
}

.container button.add-button {
  margin: 1rem auto 0;
}

p.done {
  text-decoration: line-through;
  font-style: italic;
}

.text-center {
  text-align: center;
}

#modal {
  padding: 1rem;
  background: #fff;
  border-radius: 0.4rem;
  -moz-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
}

#modal button[type=submit] {
  display: block;
  margin: 1rem auto;
}

#todos {
  background: #fff;
  border-radius: 0.4rem;
  -moz-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
}

#todos p {
  padding: 1rem;
}
