<div class="container">
  <h1>{{ title }}</h1>
  <form
    [formGroup]="form"
  >
    <div class="add-task">
      <div class="form-group">
        <input
          type="text"
          name="todo"
          placeholder="Add task..."
          formControlName="title"
        >
        <small
          *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine"
          [style.color]="'red'"
        >
          Informe um título: 3 a 60 caracteres
        </small>
      </div>
      <button
        type="submit"
        [disabled]="form.invalid"
        (click)="add()"
      >
        Add
      </button>
    </div>
  </form>
  <p *ngIf="!todos.length" class="text-center">Você não possui tarefas!</p>
  <ul>
    <li *ngFor="let todo of todos">
      <p
        [ngClass]="{ 'done': todo.done }"
        (click)="markAsDone(todo)"
      >
        {{ todo.title }}
      </p>
      <div>
        <button type="button" (click)="markAsDone(todo)">{{ todo.done ? 'Refazer' : 'Concluir' }}</button>
        <button type="button" (click)="remove(todo)">Excluir</button>
      </div>
    </li>
  </ul>
</div>
