/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #3023ae;
  background: -moz-linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
  background: -webkit-linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
  background: linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
