/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #5f27cd;
  background: -moz-linear-gradient(60deg, #5f27cd 0%, #00d2d3 100%);
  background: -webkit-linear-gradient(60deg, #5f27cd 0%, #00d2d3 100%);
  background: linear-gradient(60deg, #5f27cd 0%, #00d2d3 100%);
}

p {
  margin: 0;
}

ul {
  text-align: left;
  padding: 1rem;
  list-style: none;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
  line-height: 3rem;
  text-indent: 1rem;
  font-size: 1.125rem;
  margin-bottom: 0.4rem;
}

.btn {
  display: block;
  background-color: #000;
  border: none;
  padding: 1.125rem;
  color: #fff;
  border-radius: 3rem;
  font-size: 1rem;
}

.danger {
  color: red;
}
